extends ../layouts/common.pug
block content
    link(rel='stylesheet', href='/css/my-account.css', type='text/css')
    .row(style= 'margin-top: 10px;height: 100%;z-index:0')
        .left-sidebar.col-sm-3(style = 'overflow-y: auto;height: 100%;position: fixed;border-right: 4px solid #0069D9')
            if(book)
                -var bookId = book._id;
                .row
                .card.col-sm-12.mt-3(style='width: 18rem;')
                    img.card-img-top(src= book.image, alt='BIGBANG')
                    .card-body(style="position: relative")
                        p.card-text()= `Description: ${book.description}`
                        p.card-text()= `Address: ${book.address}`
                        p.card-text(style="margin-bottom: 40px")= book.description                         
        .right-sidebar.col-sm-8(style='margin-left: 350px')
            if bookOffers
                each bookOffer in bookOffers
                    .row(style='margin-top: 10px')
                        .img-row.col-sm-3
                            img.card-img-top(src= bookOffer.image, alt='BIGBANG')
                        .content-book.col-sm-9
                            h5.card-title= bookOffer.name
                            p.card-text(style="margin-bottom: 40px")= bookOffer.description
                            p()= `Address: ${bookOffer.address}` 
            script(language="javascript").
                function show(){
                    
                    var f = document.getElementById("f");
                    f.style.display = 'block';
                    var create = document.getElementById("create");
                    create.style.display ='none';
                }
            .createForm.mt-5    
                if errors
                    each error in errors
                        .alert.alert-danger.col-sm-6= error
                form(method="POST", action=`/books/${bookId}/createOffer`,enctype='multipart/form-data' id='f', style='display: none')
                    .input-group.form-group
                        .input-group-prepend
                            label.input-group-text(for='inputGroupSelect01') Select from your books(*)
                        select#inputGroupSelect01.custom-select(name= 'type')
                            option(selected="none") Choose...
                            if(yourBooks)
                                each yourBook in yourBooks
                                    option(value=yourBook._id)= yourBook.name 
                    button(type="submit", class="btn btn-primary") Add
                button.mt-5(type='button', onclick='show()', id = 'create', class="btn btn-primary") Create offer
