extends ../layouts/common.pug
block content
    link(rel='stylesheet', href='/css/my-account.css', type='text/css')
    .row(style= 'margin-top: 10px;height: 100%;z-index:0')
        .left-sidebar.col-sm-3(style = 'overflow-y: auto;height: 100%;position: fixed;border-right: 4px solid #0069D9')
            if(book)
                -var bookId = book._id;
                .row
                .card.col-sm-12.mt-3(style='width: 18rem;')
                    img.card-img-top(src= book.image, alt='BIGBANG')
                    .card-body(style="position: relative")
                        h5.card-title= book.name
                        p.card-text()= `Description: ${book.description}`
                        p.card-text()= `Address: ${book.address}`                         
        .right-sidebar.col-sm-8(style='margin-left: 350px')
            form.form-inline.mt-5(method="post", action=`/users/books/${bookId}/suggestions?q`)
                input.form-control.mr-sm-2(type='search', placeholder='Distance (Km)', aria-label='Search', name ='distanceSearch', value = distance?distance:"")
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

            if bookOffers
                each bookOffer in bookOffers
                    .row(style='margin-top: 10px')
                        .img-row.col-sm-3
                            img.card-img-top(src= bookOffer.image, alt='BIGBANG')
                        .content-book.col-sm-6
                            h5.card-title= bookOffer.name
                            p()= `Description: ${bookOffer.description}`
                            p()= `Address: ${bookOffer.address}`
                            p()= `Distance: ${bookOffer.distance}` 
                        .col-sm-3
                            a.btn.btn-primary(href =`/users/books/${bookOffer._id}/suggestions/accept`) Accept        